//output:index.html
html
  head
    link(rel="stylesheet",href="./css/bootstrap.min.css",type="text/css")
    link(rel="stylesheet",href="./css/own.css",type="text/css")
    meta(name="name" content="width=device-width" initial-scale="1.0")
    script(src='jquery.js')
    script(src='./js/bootstrap.min.js')
    title
      | Asignacion de rangos pares de mano
  body
    script(src='rangos.js')
    #mainDiv
      #header.jumbotron
        h2|Bienvenido
      #leftSide.col-md-6
        #grid
